.pagination a {
    display: block;
    padding: 0 14px;
    font-size: 14px;
    line-height: 34px;
    color: var(--primary);
    background: var(--accent4);
}

.pagination a:hover {
    color: black;
    background-color: var(--accent3);
    transform: scale(var(--btn-scale1)) rotate(var(--rot-deg));
}

.pagination a:active {
    background-color: var(--accent1);
    transform: scale(var(--btn-scale2)) rotate(var(--rot-deg-rev));
}