.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--accent4);
}

.logo a:hover {
    transition: 100ms;
    color: var(--accent2);
}

#moon:hover {
    transition: 100ms;
    color: var(--accent3);
}

#sun:hover {
    transition: 100ms;
    color: var(--accent2);
}

#menu a:hover {
    transition: 100ms;
    color: var(--accent2);
}

svg:hover {
    transition: 100ms;
    color: var(--accent1);
}