.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--tertiary);
}

.logo a:hover {
    transition: 0.15s;
    color: grey;
}

/* theme toggle hover */

#moon:hover {
    transition: 0.15s;
    color: deepskyblue;
}

#sun:hover {
    transition: 0.15s;
    color: gold;
}

#menu a:hover {
    transition: 0.15s;
    color: grey;
}

/* social hover */

svg:hover {
    transition: 0.15s;
}

.social-icons a:nth-child(1) svg:hover{
    color: #C84370 !important;
}

.social-icons a:nth-child(2) svg:hover {
    color: grey !important;
}

