.header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--accent4);
}

.logo a:hover {
    transition: 100ms;
    color: var(--accent2);
}

/* theme toggle hover */

#moon:hover {
    transition: 100ms;
    color: var(--accent3);
}

#sun:hover {
    transition: 100ms;
    color: var(--accent2);
}

#menu a:hover {
    transition: 100ms;
    color: var(--accent2);
}

svg:hover {
    transition: 100ms;
}

.social-icons a:nth-child(1) svg:hover{
    color: #C84370 !important;
}

.social-icons a:nth-child(2) svg:hover {
    color: grey !important;
}

