.post-entry:hover {
    transition: 100ms;
    background-color: var(--accent4);
    border-color: var(--accent1);
}

.entry-header h2 {
    color: var(--accent2);
}

.entry-header h2:hoover {
    color: blue;
}