.terms-tags a {
    background: var(--accent4);
}

.terms-tags a:hover {
    color: black;
    background: var(--accent3);
    transform: scale(var(--btn-scale1)) rotate(var(--rot-deg));
}

.terms-tags a:active {
    background: var(--accent1);
    transform: scale(var(--btn-scale2)) rotate(var(--rot-deg-rev));
}


